<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miller Ladino - {% block title %}{% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <header>
        <h1>My personal Portfolio</h1>
        <ul>
            <li><a href=>Home</a></li>
            <li><a href=>About me</a></li>
            <li><a href=>My portfolio</a></li>
            <li><a href=>Contact</a></li>
        </ul>
    </header>

    {% block content %} {% endblock %}
</body>

</html>